body {
    background-color: rgb(10, 10, 10);
    overflow-x: hidden;


}
header {
    height: 10vh;
    width: 100%;
    background: black;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    height: 100%;
}

header img {
    height: 100%;
}

header .nav-list {
    display: flex;
    gap: 30px;
}

header .nav-list li a {
    color: var(--text-color);
    letter-spacing: 3px;
    transition: color .4s;
}

header .nav-list a:hover {
    color: var(--highlight-text-color);
}

#inicio {
    height: 100vh;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio h1 {
    font-size: 3rem;
}

#inicio h2 {
    font-size: 4rem;
    color: var(--highlight-text-color);
}

#inicio p:first-of-type {
    margin-top: 60px;
}

#inicio p {
    font-size: 1.3rem;
    margin: 10px 0;
}

#inicio p span {
    color: var(--highlight-text-color);
}

#inicio button {
    width: 300px;
    height: 60px;
    background-color: var(--highlight-text-color);
    color: white;
    margin-top: 40px;
    border-radius: .25rem;
    transition: filter .2s;
}

#inicio button:hover {
    filter: brightness(.9);
    color: black;
}

#inicio #characters {
    height: 100%;
    width: 80%;
    display: flex;
    position: absolute;
    z-index: 0;
    z-index: -1;
    align-items: flex-start;
    margin-top: 100px;
    justify-content: space-evenly;
}

#inicio #characters img {
    max-height: 800px;
    filter: opacity(.09);
}

#cronograma{
    height: 100vh;
    background-color: red;
}

@media (max-width: 1400px) {
    #inicio #characters img:nth-of-type(1),
    #inicio #characters img:nth-of-type(4) {
        display: none;
    }
}

@media (max-width: 850px) {

    body {
        overflow-x: hidden;
    }

    #inicio {
        padding: 0 40px;
        justify-content: flex-start;
    }

    #inicio h1 {
        font-size: 2rem;
        margin: 0;
    }

    #inicio h2 {
        font-size: 3rem;
    }

    #inicio p {
        margin: 0;
        font-size: 1.1rem;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100%;
        height: 50vh;
        transform: translateX(100%);
    }


    #inicio #characters img:nth-of-type(2),
    #inicio #characters img:nth-of-type(3) {
        display: none;
    }
}