body {
    background-color: rgb(10, 10, 10);
}

header {
    height: 10vh;
    width: 100%;
    background: black;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header a {
    height: 100%;
}

header img {
    height: 100%;
}

header .menu {
    display: flex;
    gap: 30px;
}

header .menu li a {
    color: var(--text-color);
    letter-spacing: 3px;
    transition: color .4s;
    display: block;
    padding: .5;
}

header .menu a:hover {
    color: var(--highlight-text-color);
}

header #mobile-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: filter .2s;
}

header #mobile-button:hover {
    filter: brightness(.8);
}

header #mobile-button span {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: white;
    margin-top: 8px;
}

#inicio {
    height: 100vh;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio h1 {
    font-size: 3rem;
}

#inicio h2 {
    font-size: 4rem;
    color: var(--highlight-text-color);
}

#inicio p:first-of-type {
    margin-top: 60px;
}

#inicio p {
    font-size: 1.3rem;
    margin: 10px 0;
}

#inicio p span {
    color: var(--highlight-text-color);
}

#inicio button {
    width: 300px;
    height: 60px;
    background-color: var(--highlight-text-color);
    color: white;
    margin-top: 40px;
    border-radius: .25rem;
    transition: filter .2s;
    font-weight: 600;
    font-size: 1.3rem;
}

#inicio button:hover {
    filter: brightness(.9);
    color: black;
}

#inicio #characters {
    height: 100%;
    width: 80%;
    display: flex;
    position: absolute;
    z-index: 0;
    z-index: -1;
    align-items: flex-start;
    margin-top: 100px;
    justify-content: space-evenly;
}

#inicio #characters img {
    max-height: 800px;
    margin-top: 50px;
    filter: opacity(.09);
}

#cronograma {
    height: 100vh;
    background-color: red;
}

@media (max-width: 1400px) {

    #inicio #characters img:nth-of-type(1),
    #inicio #characters img:nth-of-type(4) {
        display: none;
    }
}

@media (max-width: 850px) {
    
    html, body {
        overflow-x: hidden;
    }
    
    nav .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 10vh;
        left: 0;
        height: 0px;
        z-index: 1000;
        transition: height 0.6s ease;
        visibility: hidden;
        overflow-y: hidden;
        overflow: hidden;
    }

    nav.active .menu {
        height: 90vh;
        visibility: visible;
        background-color: black;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: auto;
        
    }

    .menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }

    nav #mobile-button {
        display: flex;
        padding: .5 1rem;
        
    }

    nav #mobile-button span {
        transition: .3s;
        position: relative;
    }

    nav.active #mobile-button span:nth-of-type(2) {
        display: none;
    }

    nav.active #mobile-button span:nth-of-type(1) {
        transform: rotate(135deg);
    }

    nav.active #mobile-button span:nth-of-type(3) {
        transform: rotate(-135deg);
        top: -10px;
    }

    #inicio {
        padding: 0 20px;
    }

    #inicio h1 {
        font-size: 2rem;
    }

    #inicio h2 {
        font-size: 3rem;
    }

    #inicio #characters {
        align-items: center;
    }

    #inicio #characters img {
        height: 50%;
        min-height: 500px;
    }

    #inicio #characters img:nth-of-type(2) {
        display: none;
    }
}

@media (max-height: 740px) {
    
    #inicio {
        padding-top: 60px;
    }

    #inicio h1 {
        font-size: 2rem;
    }

    #inicio h2 {
        font-size: 3rem;
    }

    #inicio #characters {
        align-items: center;
    }

    #inicio #characters img {
        height: 60%;
        min-height: 500px;
        
    }
}